.logoImage {
    padding: 15px 5px 6px 6px;
    width: 135px;
    height: auto;
}

.infoCardContainer{
    width: 100%;
    margin-bottom: 40px;
    height: 800px;
    background-position: 7% 22%;
}

.infoCardTextContainer{
    width: 15%;
    height: auto;
    background-color: #b8b8b88a;
}

.infoCardTextContainer--info-card-second-line {
    width: 50%;
    background-color: unset;
}

.main-header-mobile {
    background-color: black !important;
}

.productImageTag {
    max-width: 450px !important;
    width: 100% !important;
    height: auto !important;
}

.productBrand {
    font-weight: 700;
    text-transform: uppercase;
    color: black;

    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.priceContainer {
    text-align: center;
    margin-bottom: 25px;
}



 





